USE [master]
GO
/****** Object:  Database [Album Virtual]    Script Date: 7/7/2026 08:48:31 ******/
CREATE DATABASE [Album Virtual]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album Virtual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album Virtual.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album Virtual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album Virtual_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album Virtual].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album Virtual]
GO
/****** Object:  User [alumno]    Script Date: 7/7/2026 08:48:31 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figurita]    Script Date: 7/7/2026 08:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figurita](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idJugador] [int] NOT NULL,
	[cantidadFiguritas] [int] NOT NULL,
	[pegada] [bit] NOT NULL,
 CONSTRAINT [PK_Figurita] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugador]    Script Date: 7/7/2026 08:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugador](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[posicion] [varchar](50) NOT NULL,
	[idSeleccion] [int] NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seleccion]    Script Date: 7/7/2026 08:48:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seleccion](
	[id] [int] NOT NULL,
	[grupo] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Seleccion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figurita] ON 

INSERT [dbo].[Figurita] ([id], [idJugador], [cantidadFiguritas], [pegada]) VALUES (1, 1, 0, 0)
INSERT [dbo].[Figurita] ([id], [idJugador], [cantidadFiguritas], [pegada]) VALUES (2, 2, 0, 0)
INSERT [dbo].[Figurita] ([id], [idJugador], [cantidadFiguritas], [pegada]) VALUES (3, 3, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Figurita] OFF
GO
INSERT [dbo].[Jugador] ([id], [nombre], [posicion], [idSeleccion]) VALUES (1, N'Guillermo Ochoa', N'Arquero', 1)
INSERT [dbo].[Jugador] ([id], [nombre], [posicion], [idSeleccion]) VALUES (2, N'Santiago Giménez', N'Delantero', 1)
INSERT [dbo].[Jugador] ([id], [nombre], [posicion], [idSeleccion]) VALUES (3, N'Edson Álvarez', N'Mediocampista', 1)
GO
INSERT [dbo].[Seleccion] ([id], [grupo], [pais]) VALUES (1, N'Grupo A', N'México')
INSERT [dbo].[Seleccion] ([id], [grupo], [pais]) VALUES (2, N'Grupo A', N'Estados Unidos')
INSERT [dbo].[Seleccion] ([id], [grupo], [pais]) VALUES (3, N'Grupo A', N'Canadá')
GO
ALTER TABLE [dbo].[Figurita]  WITH CHECK ADD  CONSTRAINT [FK_Figurita_Jugador] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugador] ([id])
GO
ALTER TABLE [dbo].[Figurita] CHECK CONSTRAINT [FK_Figurita_Jugador]
GO
ALTER TABLE [dbo].[Jugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Seleccion] FOREIGN KEY([idSeleccion])
REFERENCES [dbo].[Seleccion] ([id])
GO
ALTER TABLE [dbo].[Jugador] CHECK CONSTRAINT [FK_Jugador_Seleccion]
GO
USE [master]
GO
