<body>
    <header>
<a href="@Url.Action("AbrirPaquete", "Home")">Abrir Paquete</a>    
<a href="@Url.Action("index", "Home")">Ver album</a>    
</header>

    <main>
    <h2> Abrí un paquete <h2>
    
  <form asp-action="GenerarSobre" method="post">
    <button type="submit">Abrir paquete</button>
</form>

@if(ViewBag.SobreFigus != null)
{
    foreach(var figurita in ViewBag.SobreFigus)
    {
        <img src="~/images/jugadores/@(figurita.id).svg">
    }

   
}
 <form asp-action="pegarFigurita" method="post">
    <button type="submit">Pegar figuritas del paquete</button>
</form>

     </main>
</body>