@{
    ViewData["Title"] = "Home Page";
    var Figuritas = ViewBag.Figuritas as List<Figurita>;
}

@if (Figuritas == null || Figuritas.Count == 0)
{
    <p>No hay Figuritas cargadas.</p>
}
else
{

}
