

header{
    display: flex;
    
    gap: 50%; 
    padding: 20px;
    background-color: black;
    width: 100%;
}

header a{
    background-color: rgb(255, 238, 139);
    padding: 10px 30px;
    border-radius: 10px;
    border: 5px solid gold;
    text-decoration: none;
    color: gray;
}